[submodule "apps/mruby_actuator/components/mruby_component/mruby"]
	path = apps/mruby_actuator/components/mruby_component/mruby
	url = https://github.com/mruby/mruby.git
[submodule "apps/examples/mruby_blink/components/mruby_component/mruby"]
	path = apps/examples/mruby_blink/components/mruby_component/mruby
	url = git@github.com:mruby/mruby.git
[submodule "apps/examples/mruby_blink2/components/mruby_component/mruby"]
	path = apps/examples/mruby_blink2/components/mruby_component/mruby
	url = git@github.com:mruby/mruby.git
[submodule "apps/examples/mruby_mqtt_blink/components/mruby_component/mruby"]
	path = apps/examples/mruby_mqtt_blink/components/mruby_component/mruby
	url = git@github.com:mruby/mruby.git
